Repository maxitg/SetReplace, pull requests merged in 2020-07, with the labels that each got.

#385 GenerationEdgeIndices
  Kernel/WolframModelEvolutionObject.m
  README.md
  Tests/WolframModelEvolutionObject.wlt
Labels: analysis, feature, wolfram language

#384 Reduce Copying in getAtomsVector
  libSetReplace/Expression.cpp
  libSetReplace/Expression.hpp
  libSetReplace/Match.cpp
  libSetReplace/Match.hpp
  libSetReplace/Set.cpp
Labels: optimization, refactor

#387 Fix incorrect expression indexing if trimming incomplete generations
  Kernel/WolframModelEvolutionObject.m
  Tests/WolframModel.wlt
Labels: analysis, critical, weed, wolfram language

#388 Tabs -> spaces
  Kernel/$graphIcon.m
  Kernel/SetReplace.m
  Kernel/SetReplaceAll.m
  Kernel/SetReplaceFixedPoint.m
  Kernel/SetReplaceFixedPointList.m
  Kernel/SetReplaceList.m
  Kernel/ToPatternRules.m
  Kernel/WolframModel.m
  Kernel/WolframModelEvolutionObject.m
  Kernel/WolframModelPlot.m
  Kernel/makeMessage.m
  Kernel/setSubstitutionSystem$cpp.m
  Kernel/setSubstitutionSystem$wl.m
  Kernel/setSubstitutionSystem.m
  Kernel/toCanonicalRules.m
  PacletInfo.m
  Tests/SetReplace.wlt
  build.wls
  install.wls
Labels: wolfram language
