Repository maxitg/SetReplace, pull requests merged in 2020-08, with the labels that each got.

#390 Local Multiway System Proposal
  Research/LocalMultiwaySystem/Images/BasicGlobalMultiway.png
  Research/LocalMultiwaySystem/Images/BranchingGlobalMultiway.png
  Research/LocalMultiwaySystem/Images/ComplexInterference.png
  Research/LocalMultiwaySystem/Images/ComplexInterferenceExtraStep.png
  Research/LocalMultiwaySystem/Images/DestructionVisualization.png
  Research/LocalMultiwaySystem/Images/MatchAllBranchlikeMatching.png
  Research/LocalMultiwaySystem/Images/MatchAllQuantumSpacelikeMatching.png
  Research/LocalMultiwaySystem/Images/MatchAllRepeatingMatching.png
  Research/LocalMultiwaySystem/Images/MatchAllSpacelikeBranchlikeMixed.png
  Research/LocalMultiwaySystem/Images/MatchAllTimelikeMatching.png
  Research/LocalMultiwaySystem/Images/RedundantGlobalMultiway.png
  Research/LocalMultiwaySystem/Images/RedundantLocalMultiway.png
  Research/LocalMultiwaySystem/Images/RedundantLocalMultiwayLabeledParticles.png
  Research/LocalMultiwaySystem/Images/SeparationComparison.png
  Research/LocalMultiwaySystem/Images/Simple1DMotion.png
  Research/LocalMultiwaySystem/Images/SimpleConstructiveInterference.png
  Research/LocalMultiwaySystem/Images/SimpleDestructiveInterference.png
  Research/LocalMultiwaySystem/Images/SimpleMotionWithPhase.png
  Research/LocalMultiwaySystem/Images/SimpleMotionWithPhaseRaw.png
  Research/LocalMultiwaySystem/Images/SingleDoubleSlitWiki.png
  Research/LocalMultiwaySystem/Images/SingleNarrowSlitEvolution.png
  Research/LocalMultiwaySystem/Images/SingleWideSlitEvolution.png
  Research/LocalMultiwaySystem/Images/TwoNarrowSlitsEvolution.png
  Research/LocalMultiwaySystem/Images/TwoWideSlitsEvolution.png
  Research/LocalMultiwaySystem/Images/WanderingParticleRule.png
  Research/LocalMultiwaySystem/LocalMultiwaySystem.md
Labels: research

#392 WolframPhysicsProjectStyleData functions
  Kernel/style.m
  README.md
  READMEImages/FakeStyledSpatialGraph3D.png
  READMEImages/SpatialGraph3DOptions.png
  Tests/WolframPhysicsProjectStyleData.wlt
Labels: convenience, styles, wolfram language

#395 Fix replaceOnce
  libSetReplace/Set.cpp
  libSetReplace/test/Set_test.cpp
Labels: weed

#394 ExpressionsSeparation property
  Kernel/WolframModelEvolutionObject.m
  Kernel/makeMessage.m
  README.md
  READMEImages/MatchAllQuantumSpacelikeMatching.png
  READMEImages/MatchAllSpacelikeBranchlikeMixed.png
  READMEImages/SeparationComparison.png
  Tests/WolframModelEvolutionObject.wlt
Labels: analysis, feature, wolfram language

#398 mapHold and heldPart
  Kernel/utilities.m
  Tests/utilities.wlt
Labels: convenience, utilities, wolfram language

#397 Spacelike multiway system
  Kernel/setSubstitutionSystem$cpp.m
  Kernel/setSubstitutionSystem.m
  README.md
  READMEImages/NoBranchlikeMatching.png
  Tests/eventSelectionFunction.wlt
  Tests/evolutionConsistency.wlt
  libSetReplace/Event.cpp
  libSetReplace/Event.hpp
  libSetReplace/Expression.hpp
  libSetReplace/Match.cpp
  libSetReplace/Match.hpp
  libSetReplace/Rule.hpp
  libSetReplace/Set.cpp
  libSetReplace/Set.hpp
  libSetReplace/SetReplace.cpp
Labels: c++, evolution, feature

#399 Report locations on disk during install script.
  install.wls
Labels: feature, infrastructure, wolfram language

#400 Condition for an entire set
  Kernel/setSubstitutionSystem$cpp.m
  Kernel/setSubstitutionSystem$wl.m
  Kernel/setSubstitutionSystem.m
  Kernel/toCanonicalRules.m
  README.md
  Tests/evolutionConsistency.wlt
  Tests/symbolicEvolution.wlt
Labels: evolution, feature, wolfram language
